name: Build And Deploy ML Pipeline

env:
  REGISTRY: docker.io
  IMAGE_NAME: ${{ github.repository }}
  SHA: ${{ github.event.pull_request.head.sha || github.event.after }}
  COMPARE_TAG: latest
  SYNK_TOKEN: '75323634-9882-4456-8ac3-60655dccb4c0'
  DOCKER_USERNAME: 'ashokgani6300'
  DOCKER_PASSWORD: 'AshokGani@6300'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      packages: write
      actions: write
      pull-requests: read

    steps:
      - name: Checkout Self
        uses: actions/checkout@v4
      - name: Docker build
        run: docker build . --file DockerFile --tag workflow-test:$(date +%s)
        
  BuildPython:
    runs-on: ubuntu-latest
    needs: Build
    environment: production
    permissions:
      contents: read
      packages: write
      actions: write
      pull-requests: read

    steps:
      - name: Checkout Self
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask
          pip install pytest
      - name: Run test
        run: |
          pytest
          
  BuildDocker:
    runs-on: ubuntu-latest
    needs: BuildPython
    environment: production
    permissions:
      contents: read
      packages: write
      actions: write
      pull-requests: read

    steps:
      - name: Checkout self
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name:  Install Docker BuildX
        uses: docker/setup-buildx-action@v3.12.0
        with:
          driver-opts: |
            image=moby/buildkit:v0.10.6
 
      - name: Docker Login
        uses: docker/login-action@v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{env.DOCKER_USERNAME}}
          password: ${{env.DOCKER_PASSWORD}}
      - name: Build Image And Push
        run: |
           docker build -t mlapp:v1 .
           docker images
           docker tag mlapp:v1 ashokgani6300/mlapp:v1
           echo ${{ env.DOCKER_PASSWORD }} | docker login -u ${{ env.DOCKER_USERNAME }} --password-stdin docker.io
           docker push ashokgani6300/mlapp:v1
        env:
          DOCKER_CLI_ACI: 1
      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ashokgani6300/mlapp
      - name: Build and push new image
        id: build-and-publish
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Image digest
        run: |
          echo Image Digest Id is: ${{ steps.build-and-publish.outputs.digest }}
      - name: Run Docker Scout compare
        uses: docker/scout-action@v1
        with:
           image: ashokgani6300/mlapp:${{ steps.meta.outputs.version }} # The newly built image
           command: compare
           baseline: environment://production
           only-severity: critical,high
